<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">

    <div class="main-menu-header">
        <br>
        <input type="text" placeholder="Search" class="menu-search form-control round"/>
    </div>
    <br>
    <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
            <li class=" nav-item">
                <a href="index.html">
                    <i class="icon-settings2"></i>
                    <span data-i18n="nav.dash.main" class="menu-title">Administracion</span>
                </a>
                <ul class="menu-content">
                    <li><a href="{{ path('index_rol') }}" data-i18n="nav.dash.main" class="menu-item">Roles</a>
                    </li>
                </ul>
                <ul class="menu-content">
                    <li><a href="#" data-i18n="nav.dash.main" class="menu-item">Usuarios</a>
                    </li>
                </ul>
            </li>

       {# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++      #}

            <li class=" nav-item">
                <a href="#">
                    <i class="icon-list"></i>
                    <span data-i18n="nav.dash.main" class="menu-title">Catalogos</span>
                </a>
                <ul class="menu-content">
                    <li><a href="{{ path('aeropuertos.list') }}" data-i18n="nav.dash.main" class="menu-item">Aeropuertos</a>
                    </li>
                </ul>
                <ul class="menu-content">
                    <li><a href="{{ path('clientes.list') }}" data-i18n="nav.dash.main" class="menu-item">Clientes</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
